.card {
  border: 1px solid dodgerblue;
  border-radius: 5px;
  float: left;
  margin: 20px;
  text-align: center;
}

.card p, h3 {
  margin: 0 0 10px 0;
}

img {
  border-radius: 3px;
  height: 160px;
  margin: 20px;
  width: 160px;
}
